<!DOCTYPE html>
<html>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

  <head>
    <title>BHILAI STEEL PLANT - Production Planning & Control</title>
    <link rel="stylesheet"  href="style.css">
    <link rel="stylesheet"  href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" >
  </head>
  <body>

    <section id="nav-bar">  

       
        <nav class="navbar navbar-expand-lg navbar-light">
          <a class="navbar-brand" href="#">
          <img src="{{ url_for('static', filename='img/SAIL_Logo.png') }}" alt="SAIL Logo" height="40">
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fa fa-angle-down" aria-hidden="true"></i>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <a class="nav-link" href="demo.html">HOME</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="card1.html">PRODUCTION PLANNING AND CONTROL</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="aboutus.html">ABOUT US</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="contactus.html">CONTACT US</a>
              </li>
            </ul>
          </div>
        </nav>
      </section>
      <br><br>

    <h1 style="text-align: center;">BHILAI STEEL PLANT</h1>
    <br><br>
    <p style="text-align: center;">
         Eleven times winner of Prime Minister's Trophy for Best Integrated Steel Plant in the country,
         Bhilai Steel Plant (BSP) is India's largest producer & supplier of world class rails for Indian 
         Railways including world’s longest 130 metre rails in single piece and 260 metre long rail welded 
         panels, and a major producer of large variety of wide and heavy steel plates and structural steel. 
         The plant also specializes in other products such as wire rods and merchant products. The entire 
         range of TMT products (Bars & Rods) produced by the Plant is of earthquake-resistant grade and superior 
         quality. The plant also produces heavy structurals including channels and beams.
        Since BSP is certified with ISO 9001:2015 Quality Management System Standard, all saleable products of 
        Plant come under the ISO umbrella. The Plant's HR Deptt is also certified with ISO 9001:2015 QMS Standard. 
        IS0:14001 has been awarded for Environment Management System in the Plant, Township and Dalli Mines. 
        The Plant is Certified with SA: 8000:2014 certification for social accountability and the ISO 45001:2018 
        certification for Occupational Health & Safety Management System. BSP has been certified with ISO 50001:2018 
        Energy Management System for the entire scope of “Integrated Steel making covering production of coke, sinter, 
        iron and steel making and rolling of finished steel products”. It is the only unit of SAIL that is certified for 
        the entire scope of steel making and also includes MODEX units within the scope.</p>

    <br>
    <br>

    <footer class="footer bg-light text-center py-3">
    <div class="d-flex justify-content-center mb-2">
        <a href="https://www.instagram.com/steelauthority/" target="_blank" class="mx-2">
            <i class="fab fa-instagram fa-lg"></i>
        </a>
        <a href="https://twitter.com/SAILsteel" target="_blank" class="mx-2">
            <i class="fab fa-twitter fa-lg"></i>
        </a>
        <a href="https://www.linkedin.com/company/steel-authority-of-india-limited/" target="_blank" class="mx-2">
            <i class="fab fa-linkedin fa-lg"></i>
        </a>
        <a href="https://www.youtube.com/channel/UCdJHO2kdM8ceS4pJuT_5JFw" target="_blank" class="mx-2">
            <i class="fab fa-youtube fa-lg"></i>
        </a>
        <a href="https://www.facebook.com/SAILsteelofficial/" target="_blank" class="mx-2">
            <i class="fab fa-facebook-f fa-lg"></i>
        </a>
        <a href="https://t.me/SteelAuthorityofIndiaLimited" target="_blank" class="mx-2">
            <i class="fab fa-telegram fa-lg"></i>
        </a>
    </div>
    <h3 class="small text-muted mb-0">
        Copyright © 2023 SAIL, all rights reserved
    </h3>
    </footer>
  </body>
  </html>